*.qws
*.rpt
*.db_info
*.qmsg
*.hdb
*.rdb
*.summary
*.tdf
*.cdb
*.xml
*.rdb
*.hier_info
*.hif
*.html
*.txt
*.qmsg
*.rdb
*.hdb
*.logdb
*.sci
blackJackController/incremental_db/README
*.tmp
*.qmsg
*.summary
*.smsg
*.flock
*.bak
*.ddb
*.wlf
blackJackController/ModelSim/work/_info
*.qdb
*.qpg
*.qtl
blackJackController/ModelSim/work/_vmake
*.jdi

*.done
*.sof
*.sld
*.idb
*.kpt
*.bpm
*.hsd
*.dfp
*.sig
*.rcfdb
*.dpi
*.hb_info
*.json
*.tmw_info
*.tdb
*.ammdb
*.nvd
*.pin
