
shuffle/dealCard.qws
shuffle/db/dealCard.db_info
blackJackController/db/blackJackController.quiproj.15900.rdr.flock
blackJackController/db/blackJackController.db_info
*.qws
*.db_info
*.rpt
*.qmsg
*.hdb
*.rdb
*.summary
*.tdf
*.cdb
*.xml
*.rdb
*.hier_info
*.hif
*.html
*.txt
*.qmsg
*.rdb
*.hdb
*.logdb
*.sci
blackJackController/incremental_db/README
*.tmp
*.qmsg
*.summary
*.smsg
*.flock
